
<h1><%= @task.name %></h1>

<h3>Description</h3>
<p><%= @task.description.length > 0 ? @task.description : '---' %></p>

<h3>Attachment</h3>
<% if @task.attachment.file %>
    <p>
      <%= @task.attachment_identifier %> |
      <%= link_to 'Download', @task.attachment.url, target: '_blank' %>
    </p>
<% else %>
    <p>No attachment. You can upload one using <%= link_to 'Edit', edit_task_path(@task) %>.</p>
<% end %>

<hr/>

<p>This task is <%= @task.completed? ? 'completed' : 'not completed' %>.</p>
<%= link_to 'Back', tasks_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary' %>