<div class="form-group">
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :surname, 'Surname' %>
  <%= f.text_field :surname, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :email, 'Email' %>
  <%= f.email_field :email, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :phone, 'Phone' %>
  <%= f.text_field :phone, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :type, 'Type' %>
  <%= f.select :type, options_for_select([ "Admin", "Manager" ], @user.type), class: "form-control" %>
</div>

<%= f.submit 'Save', class: "btn btn-primary" %>
<%= link_to 'Cancel', users_path, class: 'btn btn-default' %>
